<!DOCTYPE html>
{% load staticfiles%}

<html>
<head>
<meta charset="utf-8">
    <title>{% block title %}首页{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'exam/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'exam/css/nav.css' %}">              <!--导航样式-->
    <link rel="stylesheet" href="{% static 'exam/icon-font/iconfont.css' %}">  <!--字体图标-->
    <link rel="stylesheet" href="{% static 'exam/font/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'exam/css/frame.css' %}">            <!--框架样式-->

    <!--lay ui-->
    <link rel="stylesheet" href="{% static 'exam/layui/css/layui.css' %}">
    <!--jQuery UI-->
    <link rel="stylesheet" href="{% static 'exam/css/jquery-ui.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'exam/css/bootstrap.min.css' %}">
    <!--试题库样式-->
    <link rel="stylesheet" href="{% static 'exam/css/teacher/itemBank.css' %}" >
    <link rel="stylesheet" href="{% static 'exam/css/teacher/itemBankManual.css' %}" >

    <!--考试设置样式-->
    <link rel="stylesheet" href="{% static 'exam/css/teacher/setExam.css' %}" >

    <!--引入wangEditor.css-->
    <link rel="stylesheet" href="{% static 'exam/js/wangEditor/dist/css/wangEditor.min.css' %}">

     <!--成绩统计样式-->
    <link rel="stylesheet" href="{% static 'exam/css/teacher/grade-count.css' %}">
    <link rel="stylesheet" href="{% static 'exam/css/teacher/grade-count-index.css' %}">

    <!--教师阅卷样式-->
    <link rel="stylesheet" href="{% static 'exam/css/teacher/marking.css' %}">
    <link rel="stylesheet" href="{% static 'exam/css/teacher/marking_sub.css' %}" >
    <!--成绩统计样式-->
    <link rel="stylesheet" href="{% static 'exam/css/teacher/grade-count.css' %}" >
    <link rel="stylesheet" href="{% static 'exam/css/teacher/grade-count-index.css' %}" >
     <!--成绩查询样式-->
    <link rel="stylesheet" href="{% static 'exam/css/student/grade-search.css' %}">

</head>
{% block body %}
<body>
    <div class="clear" >
        {% block nav %}
        <div class="nav left fl">
            <div class="nav-top">
                <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="{% static 'exam/images/mini.png' %}" ></div>
            </div>
            {% if user.role == 'student' %}
            <ul>
                <li class="nav-item">
                    <a href="{% url 'exam' %}"><i class="iconfont icon-kaoshi"></i><span>考试</span><i class="my-icon nav-more"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'grade-search' %}"><i class="iconfont icon-chengjichaxun"></i><span>成绩查询</span><i class="my-icon nav-more"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'update-info' %}"><i class="iconfont icon-ICON"></i><span>个人信息维护</span><i class="my-icon nav-more"></i></a>
                </li>
            </ul>
            {% else %}
            <ul>
                <li class="nav-item">
                    <a href="/item-bank/1/1"><i class="iconfont icon-shitiku"></i><span>试题库</span><i class="my-icon nav-more"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'setExam' %}"><i class="iconfont icon-jiaoxuebankaoshishezhi"></i><span>考试设置</span><i class="my-icon nav-more"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'marking' %}"><i class="iconfont icon-yuejuanmokuai"></i><span>阅卷</span><i class="my-icon nav-more"></i></a>
                </li>
                <li class="nav-item">
                    <a href="/grade-count/1"><i class="iconfont icon-chengjitongji"></i><span>成绩统计</span><i class="my-icon nav-more"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'update-info' %}"><i class="iconfont icon-ICON"></i><span>个人信息维护</span><i class="my-icon nav-more"></i></a>
                </li>
            </ul>
            {% endif %}
        </div>
        {% endblock %}
        <div class="fl right">
            {% block header %}
            <header >
                <div class="top user">
                    用户名：{% firstof user.username %}
                </div>
            </header>
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block js %}
        <script src="{% static 'exam/js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'exam/js/jquery-ui-1.12.1.min.js' %}"></script>
        <script src="{% static 'exam/layui/layui.js' %}"></script>
        <script src="{% static 'exam/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
        <!--wangEditor特效-->
        <script src="{% static 'exam/js/wangEditor/dist/js/wangEditor.min.js' %}"></script>
        <!--导航-->
        <script src="{% static 'exam/js/nav.js' %}"></script>
        <!--主页-->
        <script src="{% static 'exam/js/index.js' %}"></script>
        <!--试题库-->
        <script src="{% static 'exam/js/item-bank.js' %}"></script>
        <!--成绩统计-->
        <script src="{% static 'exam/js/grade-count.js' %}"></script>
        <!--阅卷-->
        <script src="{% static 'exam/js/marking.js' %}"></script>
        <!--考试设置-->
        <script src="{% static 'exam/js/setExam.js' %}"></script>
    {% endblock %}
</body>
{% endblock %}
</html>


